.Message {
    background-color: lightskyblue;
    border-radius: 5px;
    padding: 4px;
    width: 50%;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Message--robot {
    align-self: flex-start;
}

.Message:not(:last-child){
    margin-bottom: 20px;
}